/* Estilos generales para el contenedor principal */
.home-container {
    font-family: 'Cardinal', serif; /* Asegúrate de que esta fuente esté disponible */
}

/* Estilos para el encabezado principal */
.custom-background {
    background-color: #fff0f5; /* Color de fondo personalizado */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilos para el contenedor de texto */
.container {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: auto; /* Centrando el contenedor */
    padding: 2rem; /* Espaciado interno */
}

/* Estilos para los encabezados */
h1 {
    color: #ff1493; /* Color del encabezado */
    font-weight: bold; /* Negrita */
    font-size: 2.5rem; /* Tamaño de fuente */
}

h2 {
    color: #333; /* Color del segundo encabezado */
    letter-spacing: 1.5px; /* Espaciado entre letras */
}

/* Estilos para los párrafos */
p {
    text-align: justify; /* Justificación del texto */
    font-size: 1.1em; /* Tamaño de fuente */
    line-height: 1.8; /* Altura de línea */
    color: #555; /* Color del texto */
}

/* Estilos para el botón */
.btn-primary {
    background-color: #ff69b4; /* Color de fondo del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno del botón */
    font-size: 1.1rem; /* Tamaño de fuente del botón */
    color: white; /* Color del texto del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.btn-primary:hover {
    background-color: #ff1493; /* Color de fondo al pasar el mouse */
}

/* Estilos para las imágenes de los servicios */
.service-item {
    margin: 20px 0; /* Espaciado entre las imágenes */
}

.service-image {
    width: 100%; /* Ancho completo */
    max-width: 600px; /* Ancho máximo */
    height: 400px; /* Altura fija */
    object-fit: cover; /* Ajustar imagen sin distorsión */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para las imágenes */
}
